.env
test.py
values.json
dist
build
agent.spec
assetmgr_agent.spec
apicreds.json
assetmgr_agent_silent.py
assetmgr_agent_silent.spec
test_2.py
test_2.spec
dump.json
commands.json
monitor.py
locationupdate.py